/* play */

.play_btn {
    margin-top: -42px;
}

.play_btn img {
    z-index: 9999999;
    cursor: pointer;
}

.play_btn::before {
    position: relative;
    content: "";
    background-color: #363636;
    height: 1px;
    display: block;
    top: 42px;
    z-index: -1;
}


/* end play */

/*-- header --*/

.header {
    width: 100%;
    height: 90px;
    padding: 29px 20px;
}

.logo a {
    font-size: 30px;
    line-height: 25px;
    color: #fff;
    font-weight: bold;
}


/*-- navigation--*/

.navigation.navbar {
    float: right;
    padding: 0;
    padding-top: 2px;
}

.navigation.navbar-dark .navbar-nav .nav-link {
    padding: 0 35px;
    color: #3f3730;
    font-size: 17px;
    line-height: 20px;
    font-weight: 600;
}

.navigation.navbar-dark .navbar-nav .nav-link:focus,
.navigation.navbar-dark .navbar-nav .nav-link:hover {
    color:red;
}

.navigation.navbar-dark .navbar-nav .active>.nav-link,
.navigation.navbar-dark .navbar-nav .nav-link.active,
.navigation.navbar-dark .navbar-nav .nav-link.show,
.navigation.navbar-dark .navbar-nav .show>.nav-link {
    color: #fff;
}

.navbar-expand-md .navbar-nav {
    padding-right: 10px;
}

ul.search {
    padding-left: 10px;
}

ul.search li a {
    color: #161825;
}

ul.search li a:hover {
    color: #161825;
}


/** banner section **/

.full_bg {
    background: url(/assets/images/BOLERO/BOLERO11.avif);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.banner_main {
    position: relative;
    padding-bottom: 175px;
}

.build_box {
    text-align: left;
    padding-top: 20%;
}

.banner_po {
    position: inherit;
}

.build_box p {
    color: #fff;
    font-size: 17px;
    line-height: 30px;
    font-weight: normal;
    margin-bottom: 55px;
}

.build_box h1 {
    font-size: 80px;
    font-weight: bold;
    color: #fff;
    line-height: 95px;
    padding-bottom: 20px;
    display: block;
}

.orang {
    color: #e76f64;
}

.build_box .quote_btn {
    font-size: 18px;
    padding: 13px 0;
    font-weight: normal;
    max-width: 228px;
    border-radius: 50px;
    text-transform: none;
    height: 61px;
}

#myCarousel .carousel-control-prev,
#myCarousel .carousel-control-next {
    display: none;
}

.banner .carousel-indicators {
    display: inline-block;
    right: 0;
    left: inherit;
    margin-right: 6%;
    top: 51%;
}

.banner .carousel-indicators li {
    width: 25px;
    height: 25px;
    border-radius: 30px;
    background: #252525;
    margin: 6px 0;
    cursor: pointer;
}

.banner .carousel-indicators .active {
    background-color: #e6615a;
}


/** end banner section **/