/** footer **/

.footer {
    background: #252525;
    /* position: fixed; */
    /* bottom: 0; */
    /* width: 100%; */
}

.copyright p {
    color: #fff;
    font-size: 17px;
    line-height: 22px;
    text-align: center;
    padding-top: 26px;
    font-weight: normal;
    padding-bottom: 20px;
}

.copyright a {
    color: #fff;
}

.copyright a:hover {
    color: #f4a111;
}


/** end footer **/